on boot

    # Buttons LED

    chown system radio /sys/class/leds/gpled_0/brightness
    chown system radio /sys/class/leds/gpled_1/brightness
    chown system radio /sys/class/leds/gpled_2/brightness
    chown system radio /sys/class/leds/gpled_3/brightness

    chmod 0660 /sys/class/leds/gpled_0/brightness
    chmod 0660 /sys/class/leds/gpled_1/brightness
    chmod 0660 /sys/class/leds/gpled_2/brightness
    chmod 0660 /sys/class/leds/gpled_3/brightness

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.ef56
    interface android.hardware.light@2.0::ILight default 
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical 
